{# Block displaying a part #}
{% load emarkdown %}

{% with tutorial=part.tutorial%}
    {% with authors=tutorial.authors.all %}
        {% with chapters=part.get_chapters %}

            {% if user in authors %}
                {% if tutorial.size == "B" %}
                    <div class="row">
                        <div class="large-8 columns">
                            <form action="{% url "pdp.tutorial.views.modify_part" %}" method="POST">
                                <input type="hidden" name="part" value="{{ part.pk }}" />
                                <div class="button-group">
                                    <a href="{% url "pdp.tutorial.views.add_chapter" %}?partie={{ part.pk }}" class="button">
                                        Ajouter
                                    </a>

                                    <a href="{% url "pdp.tutorial.views.edit_part" %}?partie={{ part.pk }}" class="button">
                                        Éditer
                                    </a>

                                    <a href="#" class="button secondary" data-dropdown="delete-drop-part-{{ part.pk }}">
                                        Supprimer
                                    </a>
                                    <div id="delete-drop-part-{{ part.pk }}" class="f-dropdown content small" data-dropdown-content>
                                        <p>
                                            Si vous supprimez cette partie, il sera alors impossible de la modifier/consulter de nouveau.
                                        </p>
                                        <button type="submit" name="delete" class="button expand alert">
                                            Confirmer la suppression
                                        </button>
                                    </div>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                        <div class="large-4 columns">
                            {# Move form #}
                            {% if part.tutorial.get_parts.count > 1 %}
                                <form action="{% url "pdp.tutorial.views.modify_part" %}" method="POST" class="custom">
                                    <input type="hidden" name="part" value="{{ part.pk }}" />
                                    <input type="hidden" name="move" value="" />
                                    <select name="move_target" class="select-autosubmit">
                                        <option selected>Déplacer</option>
                                    {% if part.position_in_tutorial > 1 %}
                                        <option value="{{ part.position_in_tutorial|add:"-1" }}">Monter</option>
                                    {% endif %}
                                    {% if part.position_in_tutorial < tutorial.get_parts.count %}
                                    <option value="{{ part.position_in_tutorial|add:"1" }}">Descendre</option>
                                    {% endif %}
                                        <option disabled>&mdash; Déplacer avant</option>
                                    {% for part_mv in part.tutorial.get_parts %}
                                        {% if part != part_mv and part_mv.position_in_tutorial|add:"-1" != part.position_in_tutorial %}
                                        <option value="{% if part_mv.position_in_tutorial < part.position_in_tutorial %}{{ part_mv.position_in_tutorial }}{% else %}{{ part_mv.position_in_tutorial|add:"-1" }}{% endif %}">
                                                Partie {{ part_mv.position_in_tutorial }} : {{ part_mv.title }}
                                        </option>
                                        {% endif %}
                                    {% endfor %}
                                    <option disabled>&mdash; Déplacer après</option>
                                    {% for part_mv in part.tutorial.get_parts %}
                                        {% if part != part_mv and part_mv.position_in_tutorial|add:"1" != part.position_in_tutorial %}
                                        <option value="{% if part_mv.position_in_tutorial < part.position_in_tutorial %}{{ part_mv.position_in_tutorial|add:"1" }}{% else %}{{ part_mv.position_in_tutorial }}{% endif %}">
                                                Partie {{ part_mv.position_in_tutorial }} : {{ part_mv.title }}
                                        </option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                    {% csrf_token %}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if tutorial.size == "B" %}
                {% if part.introduction %}
                    {{ part.introduction|emarkdown }}
                {% endif %}
            {% endif %}

            <p>
                {% if chapters.count = 0 %}
                Il n'y a aucun chapitre dans cette partie.
                {% endif %}
            </p>

            <ul>
                {% for chapter in chapters %}
                <li>
                    <a href="{% if tutorial.size == "B" %}
                                 {% url "view-chapter-url" tutorial.pk tutorial.slug part.slug chapter.slug %}
                             {% else %}
                                 {% url "view-part-url" tutorial.pk tutorial.slug chapter.slug %}
                             {% endif %}">
                        Chapitre
                        {% if tutorial.size == "B" %}{{ chapter.part.position_in_tutorial }}.{% endif %}{{ chapter.position_in_part }}
                        | {{ chapter.title }}
                    </a>
                    <ul>
                        {% for extract in chapter.get_extracts %}
                        <li>
                        <a href="{% if tutorial.size == "B" %}
                                {% url "view-chapter-url" tutorial.pk tutorial.slug part.slug chapter.slug %}#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}
                            {% else %}
                                {% url "view-part-url" tutorial.pk tutorial.slug chapter.slug %}#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}
                            {% endif %}">
                                {{ extract.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <br />
                </li>
                {% endfor %}
            </ul>

            {% if tutorial.size == "B" %}
                {% if part.conclusion %}
                    {{ part.conclusion|emarkdown }}
                {% endif %}
            {% endif %}

        {% endwith %}
    {% endwith %}
{% endwith %}
